---
import BaseLayout from '@/layouts/BaseLayout'
import { Picture } from 'astro:assets'
import { getCollection, type CollectionEntry } from 'astro:content'

const authors = await getCollection('author')

export async function getStaticPaths() {
	// const authors = await getAuthor()
	const authors = await getCollection('author')

	// const disqusEnabled = disqusConfig.enabled authors = Object.values(import.meta.glob('../author/*.md', { eager: true }))

	return authors.map((author: any) => {
		return {
			params: { author: author.data.name },
			props: { author }
		}
	})
}

type Props = CollectionEntry<'author'> & { name: string; author: any }

//const name = Astro.params
const { author } = Astro.props

console.table(author.data.avatar)
---

<BaseLayout title='Author'>
	<div itemtype='https://schema.org/ProfilePage' itemscope key={'index'}>
		<div itemprop=''>
			<time itemprop='dateCreated' datetime={new Date().toISOString()}> </time>
		</div>
		<div itemprop='mainEntity' itemtype='https://schema.org/Person' itemscope>
			<h1 itemprop='name'>{author.data.name}</h1>
			<p>{author.data.bio}</p>
			<p itemprop='url'>{author.data.url}</p>
			<p>{author.data.avatar.src}</p>
			<Picture alt='x' src={author.data.avatar} decoding='async' loading='lazy' />
		</div>
	</div>
</BaseLayout>
