---
import BaseLayout from '@/layouts/BaseLayout'
import { getCollection, type CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'

const authors = await getCollection('author')

export async function getStaticPaths() {
	// const authors = await getAuthor()
	const authors = await getCollection('author')

	// const disqusEnabled = disqusConfig.enabled authors = Object.values(import.meta.glob('../author/*.md', { eager: true }))

	return authors.map((author: any) => {
		return {
			params: { author: author.data.name },
			props: { author }
		}
	})
}

type Props = CollectionEntry<'author'> & { name: string; author: any }

//const name = Astro.params
const { author } = Astro.props

console.table(author.data.avatar)
---

<BaseLayout title='Author'>
	<div key={'index'}>
		<h1>{author.data.name}</h1>
		<p>{author.data.bio}</p>
		<p>{author.data.url}</p>
		<p>{author.data.avatar.src}</p>
		<Image alt='x' src={author.data.avatar} decoding='async' loading='lazy' />
	</div>
</BaseLayout>
