---
import Disqus from '@/components/Disqus'
import ListRelatedPosts from '@/components/ListRelatedPosts'
import Code from '@/components/mdx/Code'
import SButton from '@/components/mdx/SButton'
import Share from '@/components/Share'
import { Picture } from 'astro:assets'
import TableOfContents from '@/components/TableOfContents'
import { disqusConfig } from '@/data/disqus.config'
import BlogPost from '@/layouts/BlogPost'
import { getPosts } from '@/utils'

import { type CollectionEntry, getCollection } from 'astro:content'

const posts = await getCollection('blog')
export async function getStaticPaths() {
	const posts = await getPosts()

	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post
	}))
}
type Props = CollectionEntry<'blog'> & { slug: string; author: any; name: any }

const post = Astro.props
const MAX_POSTS = 3
const getRelatedPosts = (post: Props) => {
	const lowercaseTags = post?.data?.tags?.map((tag) => tag.toLowerCase())
	const relatedPosts = posts.filter(
		(p) =>
			p.slug !== post.slug && p.data?.tags?.some((t) => lowercaseTags?.includes(t.toLowerCase()))
	)
	return relatedPosts.slice(0, MAX_POSTS)
}

const relatedPosts = getRelatedPosts(post)

const { Content, headings, remarkPluginFrontmatter } = await post.render()

const disqusEnabled = disqusConfig.enabled
---

<BlogPost
	id={post.id}
	slug={post.slug}
	data={post.data}
	headings={headings}
	readTime={remarkPluginFrontmatter.minutesRead}
	author={post.author}
>
	{post.author?.name}
	<div class='grid grid-cols-1 md:grid-cols-[20%_auto] gap-10 mt-8'>
		<!-- aside  -->
		<aside class='md:flex flex-col gap-8 hidden'>
			<Share />
			<div class='sticky top-24 self-start hidden md:block transition-all duration-200'>
				{headings && headings.length > 0 && <TableOfContents {headings} />}
			</div>
		</aside>

		<!-- post -->
		<article class='card max-w-full w-full'>
			<span class='main-content-shadow'></span>
			<div class='e-content prose prose-lg md:prose-xl dark:prose-invert mb-12 min-w-full'>
				<a class='u-url' href='…'>…</a>

				<Content components={{ Code, SButton, Picture }} />

				<!-- related posts -->
				<footer>
					<h2 class='font-bold text-lg dark:text-white mb-6'>Related Posts</h2>
					<ListRelatedPosts posts={relatedPosts} />
				</footer>
			</div>
		</article>

		{disqusEnabled && <Disqus />}
	</div>
</BlogPost>
